.InspectionImgModal > .modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.InspectionImgModal > .modal > section {
  width: 900px;
  height: 850px;
  max-width: 900px;
  max-height: 850px;
  margin:0 auto;
  border-radius: .3rem;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show .3s;
  overflow: hidden;
  background-color: white;
}
.InspectionImgModal > .modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show .3s;
}
@keyframes modal-show {
  from {
      opacity: 0;
      margin-top: -50px;
  }
  to {
      opacity: 1;
      margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* InspectionImgForm */
.InspectionImgForm{
  height: 100%;
}
.InspectionImgForm_title{
  font-size: x-large;
  font-weight: bold;
}
.InspectionImgForm_1{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 88%;
}
.InspectionImgForm_1_1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: medium;
  width: 30%;
}
.InspectionImgForm_1_1_1{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}
.InspectionImgForm_1_1_2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.InspectionImgForm_1_2{
  width: 70%;
}
.InspectionImgForm_2{
  display: flex;
  justify-content: flex-end;
}