.Inspection{
  /* padding: 1%; */
  padding: 1%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  /* background-color: #d2dae7; */
}
.Inspection_1{
  width: 30%;
  /* background-color: white; */
  height: 100%;
}
.Inspection_2{
  width: 70%;
}
.Inspection_3{
  /* width: 15%; */
}
.Inspection_3_1{
  height:48%;
}
.Inspection_3_2{
  height:48%;
}

/* InspectionPatientList */
.InspectionPatientList{
  padding-right: 10px;
  /* height: 100%; */
  /* background-color: lightgreen; */
}
.InspectionPatientList_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionPatientList_1{
  /* border: 1px solid black; */
  padding-top: 10px;
  padding: 10px;
  /* height: 100%; */
  /* background-color: white; */
}
.InspectionPatientList_1_1{
  display: flex;
  flex-direction: row;
}
.InspectionPatientList_1_2_1{
  font-size: small;
}
.InspectionPatientList_1_2_2{
  width: 10%;
  margin-right: 20px;
}
.InspectionPatientList_1_2_3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 8;
  cursor: pointer;
}
.InspectionPatientList_1_3_0{
  color: black;
}
.InspectionPatientList_1_3_1{
  margin-right: 6px;
  color: #009900;
}
.InspectionPatientList_1_3_2{
  margin-right: 6px;
  color: #ff6600;
}
.InspectionPatientList_1_3_3{
  margin-right: 6px;
  color: #00AAF0;
}
.InspectionPatientList_2_1{
  text-align: center;
  font-size: small;
  
}
.InspectionPatientList_2_2{
  background-color: lightgray;
  position:sticky;
  top:-1px;
}
.InspectionPatientList_list{
  overflow-y: scroll;
  height: 720px;
}
.InspectionPatientList_list::-webkit-scrollbar {
  width: 10px;
}
.InspectionPatientList_list::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.InspectionPatientList_list::-webkit-scrollbar-track {
  background-color: lightgray;
}
.InspectionPatientListItem:hover {
  background-color: #cff1ff;
  /* color:white; */
  cursor: pointer;
}

/* InspectionList */
.InspectionList{
  padding-right: 10px;
}
.InspectionList_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionList_1{
  /* border: 1px solid black; */
  /* padding-top: 10px; */
  padding: 10px;
  /* background-color: white; */
}
.InspectionList_1_1{
  display: flex;
  /* margin-left: 10px; */
  justify-content: flex-end;
}
.InspectionList_1_2{
  /* margin-right: 10px; */
  margin-bottom: 10px;
}
.InspectionList_2_1{
  text-align: center;
  font-size: small;
  height: 100%;
}
.InspectionList_2_2{
  background-color: lightgray;
  position:sticky;
  top:-1px;
}
.InspectionList_list{
  overflow-y: scroll;
  height: 720px;
}
.InspectionList_list::-webkit-scrollbar {
  width: 10px;
}
.InspectionList_list::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.InspectionList_list::-webkit-scrollbar-track {
  background-color: lightgray;
}
/* InspectionListItem */
.InspectionListItem {
  /* display: flex; */
  align-items: center;
}
.InspectionListItem_1{
  display: flex;
  justify-content: center;
}
.InspectionListItem:hover {
  background-color: #cff1ff;
  /* color:white; */
  cursor: pointer;
}

/* InspectionCreateForm */
.InspectionCreateForm{
  height: 100%;
}
.InspectionCreateForm_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionCreateForm_1{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 10px;
  justify-content: center;
  height: 90%;
}
.InspectionCreateForm_1_1{
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  margin-bottom: 5px;
  font-size: small;
}
.InspectionCreateForm_1_2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.spinner2 {
  /* display: block;
  position: fixed;
  top: calc(50% - (300px / 2));
  right: calc(65% - (50px / 2)); */
  position: fixed;
   z-index: 999;
   top: 0;
   left: 30%;
   width: 70%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}